.discover {
    background-color: white;
}

.arrowright {
    margin-top: 4rem;
    margin-left: 8.3rem;
}

.arrowrighttwo {
    margin-top: 4rem;
    margin-left: 9rem;
}

.arrowrightthree {
    margin-top: 4rem;
    margin-left: 11.7rem;
}

.arrowrightfour {
    margin-top: 4rem;
    margin-left: 13.2rem;
}

.arrowrightfive {
    margin-top: 4rem;
    margin-left: 10.7rem;
}

.arrowrightsix {
    margin-top: 4rem;
    margin-left: 11.3rem;
}

.card {
    margin: 0px;
    padding: 0px;
    font-family: 'Foundation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 110%;
    flex-wrap: wrap;
    width: 113%;
    
    
}

.cardone {
    background-color: #1a5861;
   
}

.cardtwo {
    background-color: #c6404f;
}

.cardthree {
    background-color: #eab264;
}

.cardfour {
    background-color: #0AB289;
}

.cardfive {
    background-color: #2A7F8C;
}

.cardsix {
    background-color: #73296D;
}
.arrowrightmob{
    margin-top: 5rem;
}



