.header{
    background-color: white;
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.number{
    background-color: #E4EAEA;
    border-radius: 50%;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: lighter;
}
.numberone{
    background-color: black;
    border-radius: 50%;
    padding: 2px 10px;
    font-size: 21px;
    font-weight: 700;
}
@media (min-width:576px) and (max-width :992px)   {
    .heading{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
    .number{
        font-weight: bold;
    }
    .image{
        width: 700px;
    }
}