.party {
    background-color: white;
    
   
}

.head {
    font-weight: 700;
    font-size: 16px;
}

.only {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    color: #6B6C70;
    margin-left: 50%;
    text-decoration: none;
}

.icon {
    font-weight: 400;
    font-size: 16px;
    color: #1A5962;
    
}