.name {
    font-family: 'Foundation Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #73296D;
    padding-left: 1%;
}

.description {
    color: black;
    font-family: 'Foundation Sans';
    font-style: normal;
    font-weight: 545;
    font-size: 16px;
    line-height: 135%;
    padding-left: 1%;
}

.detail {
    font-family: 'Foundation Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 135%;
    color: #1A5962;
    margin-left: 20%;
    text-decoration: none;

}

.info {
    margin: 0px;
    padding: 0px;

}

.image {
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 10px;

}

.user {
    background-color: white;
    margin-left: -10px;
    margin-right: -12px;
}

@media (max-width: 767.98px) {
    .name {

        margin-left: 5rem;

    }

    .description {
        margin-left: 5rem;
        font-size: small;
    }

    .maininfo {
        margin-top: -60px;
    }




}