.about {
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;

}

.heading {
    font-family: 'Questa';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 110%;
    text-align: center;
    color: #2F3031;
}

.para {
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Questa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: #45474A;
}


.smallhead {
    font-family: 'Questa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: #1a5861;
}

.aboutone{
    
        background-color: #EFF3F4;
 
}